$primary-color-black: #000000;
$primary-color-white: #FFFFFF;
$secondary-color:#C9B59C;
$transparent-black-50: rgba(255, 255, 255, 0.5);
$secondary-color: #ff6b35;
$primary-bg: rgba(0, 0, 0, 0.5);