
@font-face {
  font-family: 'rosindale';
  src: url('../../font/Roslindale-TextSemiBold-Testing.woff') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'font1';
  src: url('../../font/74c3c29282b604a9eed88ac6ede61463.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}